@model PI_projekt.Models.Troškovi

<h4>Troškovi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="UrediTrosak">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.Message" asp-for="TroskoviId" />
            <div class="form-group">
                <label asp-for="Namjena" class="control-label"></label>
                <input asp-for="Namjena" class="form-control" />
                <span asp-validation-for="Namjena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iznos" class="control-label"></label>
                <input asp-for="Iznos" class="form-control" />
                <span asp-validation-for="Iznos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Korisnik" class="control-label"></label>
                <select asp-for="Korisnik" class="form-control" asp-items="ViewBag.Korisnik"></select>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <!--<span asp-validation-for="Opis" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <input type="submit" value="Spremi promjene" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="povratak" asp-action="TroskoviIndex">Povratak</a>
</div>

