@model PI_projekt.Models.Urod


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Dodaj">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.mlid" asp-for="Mikrolokacija" />
            <div class="form-group">
                <label asp-for="Opis" class="control-label">Opis</label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kolicina" class="control-label">Količina</label>
                <input asp-for="Kolicina" class="form-control" />
                <span asp-validation-for="Kolicina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spremi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="povratak" asp-action="UrodIndex" asp-route-id="@ViewBag.mlid">Povratak</a>
</div>

