@model PI_projekt.Models.Narudžba

<h4>Narudžba</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="DodajNarudzbu">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kupac" class="control-label"></label>
                <select asp-for="Kupac" class="form-control" asp-items="ViewBag.Kupac"></select><br />
                <a class="gumbDodavanja" asp-controller="Prodaja" asp-action="DodajKupcaView">Niste pronašli kupca? Kliknite ovdje!</a>
            </div>
            <div class="form-group">
                <label asp-for="DatumNarudzbe" class="control-label">Datum narudžbe</label>
                <input placeholder="YYYY-MM-DD hh:mm" asp-for="DatumNarudzbe" class="form-control" />
                <span asp-validation-for="DatumNarudzbe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumIsporuke" class="control-label">Datum isporuke</label>
                <input placeholder="YYYY-MM-DD hh:mm" asp-for="DatumIsporuke" class="form-control" />
                <span asp-validation-for="DatumIsporuke" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="povratak" asp-action="NarudzbeIndex">Povratak</a>
</div>

