@model PI_projekt.Models.Biljka

<h4>Uredi opis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="formaZaEditOpisaDetalja">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.Message" asp-for="BiljkaId" />
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spremi promjene" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="KorisnikBiljke" asp-action="KorisnikBiljkaDetalji" asp-route-id="@ViewBag.Message">Povratak</a>
</div>

