@model PI_projekt.Models.BiljkeKorisnik

<h4>BiljkeKorisnik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="korisnikBiljkaEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.Message" asp-for="BiljkaKorisnikId" />
            <div class="form-group">
                <label asp-for="CijenaPoKg" class="control-label"></label>
                <input asp-for="CijenaPoKg" class="form-control" />
                <!--<span asp-validation-for="CijenaPoKg" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <!--<span asp-validation-for="Opis" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <input type="submit" value="Spremi promjene" class="btn btn-primary" />
            </div>
        </form>
        @ViewBag.error
    </div>
</div>

<div>
    <a class="povratak" asp-action="KorisnikBiljkeIndex">Povratak</a>
</div>

